:root {
  /* colors */
  --colors-primary: #172a54;
  --colors-secondary: #fac640;
  --colors-text-medium: #888;
  --colors-text-black: #222;
  --colors-text-white: #fff;

  /* background colors for views of week  */
  --colors-week-background-today: #dbe4eb;
  --colors-week-background-default: #fcfcfc;
  --colors-week-background-past: #999999;

  /* colors for views of details */
  --colors-details-btn-green: #07c160;
  --colors-details-btn-red: #ee0a24;
  --colors-details-btn-orange: #ff976a;
  --colors-details-btn-blue: #0099FF;

  /* font-families; */
  --font-families-impact: "You She", impact;
  --font-families-regular: "Fang Zheng", sans-serif;

  /* font */
  /* font-size color */
  --font-heading-1: 24px var(--font-families-regular);
  --font-heading-2: 16px var(--font-families-regular);
  --font-heading-3: 14px var(--font-families-regular);
  --font-heading-4: bold 12px var(--font-families-regular);
  --font-text-1: 12px var(--font-families-regular);
  --font-text-2: 11px var(--font-families-regular);
}
