:root {
  /* colors */
  --colors-primary: #172a54;
  --colors-secondary: #fac640;
  --colors-green: #07c160;
  --colors-blue: #09f;
  --colors-red: #ee0a24;
  --colors-orange: #f77744;
  --colors-lightcyan: #dbe4eb;

  /* white-grey-black colors. Mainly used for background color or font color. */
  --colors-light: #e9e9e9;
  --colors-medium: #999;
  --colors-black: #222;
  --colors-white: #fcfcfc;

  /* background colors for views of week  */
  --colors-week-background-today: var(--colors-lightcyan);
  --colors-week-background-default: var(--colors-white);
  --colors-week-background-past: var(--colors-medium);

  /* colors for views of details */
  --colors-details-btn-green: var(--colors-green);
  --colors-details-btn-red: var(--colors-red);
  --colors-details-btn-orange: var(--colors-orange);
  --colors-details-btn-blue: var(--colors-blue);

  /* font-families; */
  --font-families-impact: "You She", impact;
  --font-families-regular: "Fang Zheng", sans-serif;

  /* font */
  /* font-size color */
  --font-heading-1: 24px var(--font-families-regular);
  --font-heading-2: 16px var(--font-families-regular);
  --font-heading-3: 14px var(--font-families-regular);
  --font-heading-4: bold 12px var(--font-families-regular);
  --font-text-1: 12px var(--font-families-regular);
  --font-text-2: 11px var(--font-families-regular);

  /* shadow separator */
  --shadow-separator: 1.5px 1.5px 5px var(--colors-medium);
}
